{% extends 'base.html' %}
{% load static %}

{% block title %}

{% endblock %}


{% block content %}
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->

            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <!-- Video player 1422x800 -->
                    {% if post.video %}
                        <video width="954" height="535" controls class="video-fixed">
                            <source src="{{ post.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% else %}
                        <h4 class="text-center tm-color-primary">NO VIDEO</h4>
                    {% endif %}
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">
                        <div class="mb-4">
                            <h2 class="pt-2 tm-color-primary tm-post-title">{{ post.title }}</h2>
                            <p class="tm-mb-40">{{ post.created_at|date:"d M Y" }} posted
                                by {{ post.author.username }}</p>
                            <p>{{ post.body }}</p>
                            {% for tag in post.tags.all %}
                                <span class="tm-color-primary">{{ tag.name }}{% if not forloop.last %}
                                    , {% endif %}</span>
                            {% endfor %}
                        </div>

                        <!-- Comments -->
                        <div>
                            <h2 class="tm-color-primary tm-post-title">Comments</h2>
                            <hr class="tm-hr-primary tm-mb-45">
                            {% if post.comments %}
                                {% for comment in comments %}
                                    <div class="comment">
                                        <figure class="tm-comment-figure">
                                            <img class="comment-img" src="{{ comment.author.avatar.url }}" alt="">
                                            <a class="tm-color-primary text-center d-flex justify-content-center"
                                               href="{% url 'users:profile_view' comment.author.username %}">{{ comment.author.username }}</a>
                                        </figure>
                                        <div class="comment-body">
                                            <p class="comment-text">{{ comment.content }}</p>
                                            <span class="tm-color-primary">{{ comment.created_at|date:"d-m-Y h:m" }}</span>
                                        </div>
                                    </div>
                                    <hr/>
                                {% endfor %}
                            {% else %}
                                <h4 class="tm-color-primary">No comments</h4>
                            {% endif %}
                            <form method="post" class="mb-5 tm-comment-form">
                                {% csrf_token %}
                                <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                                <div class="mb-4">
                                    <h4 class="tm-color-primary">{{ form.content.label_tag }}</h4>
                                    {{ form.content }}
                                </div>
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 tm-aside-col">
                    <div class="tm-post-sidebar">
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="mb-4 tm-post-title tm-color-primary">Category</h2>
                        <a href="#" class="tm-color-primary">{{ post.category }}</a>
                        <hr class="mb-3 tm-hr-primary">
                    </div>
                </aside>
            </div>
        </main>
    </div>
{% endblock %}