{% extends 'base.html' %}
{% load static %}
{% block title %}
    EXtra Blog - Posts List
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..."
                               aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row tm-row">
                {% for post in posts %}
                    <article class="col-12 col-md-6 tm-post">
                        <hr class="tm-hr-primary">
                        <a href="{{ post.get_absolute_url }}" class="effect-lily tm-post-link tm-pt-60">
                            <div class="tm-post-link-inner">
                                {% if post.preview_image %}
                                    <img src="{{ post.preview_image.url }}" alt="Image" class="img-fluid">
                                {% else %}
                                    <img src="{% static 'img/noimage.jpg' %}" alt="Image" class="img-fluid">
                                {% endif %}
                            </div>
                            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ post.title }}</h2>
                        </a>
                        <p class="tm-pt-30">
                            {{ post.body|truncatechars:50 }}
                        </p>
                        <div class="d-flex justify-content-between tm-pt-45">
                            <span class="tm-color-primary">{{ post.category }}</span>
                            {% if post.updated_at %}
                                <span>{{ post.created_at|date:"d M Y" }} (updated {{ post.updated_at|date:"d M Y H:i" }})</span>
                            {% else %}
                                <span class="tm-color-primary">{{ post.created_at }}</span>
                            {% endif %}
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>{{ post.total_comments }} comments.</span>
                            <span>{{ post.author.username }}</span>
                        </div>
                    </article>
                {% endfor %}
            </div>
            <div class="row tm-row tm-mt-100 tm-mb-75">
                <div class="tm-prev-next-wrapper">
                    <a href="{% if posts.has_previous %}?page={{ posts.previous_page_number }}{% endif %}"
                       class="mb-2 tm-btn tm-btn-primary tm-prev-next  tm-mr-20 {% if not posts.has_previous %}disabled{% endif %}">Prev</a>
                    <a href="{% if posts.has_next %}?page={{ posts.next_page_number }} {% endif %}"
                       class="mb-2 tm-btn tm-btn-primary tm-prev-next {% if not posts.has_next %}disabled{% endif %}">Next</a>
                </div>
                <div class="tm-paging-wrapper">
                    <span class="d-inline-block mr-3">Page</span>
                    <nav class="tm-paging-nav d-inline-block">
                        <ul>
                            {% for page in posts.paginator.page_range %}
                                {% if page >= posts.number|add:-2 and page <= posts.number|add:2 %}
                                    <li class="tm-paging-item {% if posts.number == page %}active{% endif %}">
                                        <a href="?page={{ page }}"
                                           class="mb-2 tm-btn tm-paging-link">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
    </div>
{% endblock %}